:host {
  display: block;
}

ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  transition: all 200ms;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  &:hover {
    transform: scale(1.02);
  }
}
