<mat-card role="article">
  <img
    *ngIf="article.thumbnail"
    mat-card-image
    [src]="article.thumbnail.uri"
    [alt]="article.thumbnail.alt"
    width="500px"
    height="200px"
  />
  <a [routerLink]="article.route">
    <mat-card-title>{{ article.title }}</mat-card-title>
  </a>
  <mat-chip-list *ngIf="article.tags" aria-label="Article tags">
    <mat-chip *ngFor="let tag of article.tags" class="mat-small">
      {{ tag }}
    </mat-chip>
  </mat-chip-list>

  <mat-card-content>
    <p>{{ article.description }}</p>
  </mat-card-content>

  <a mat-flat-button [routerLink]="article.route" color="accent">Continue reading</a>
</mat-card>
